DEBUG=true
LEARN_VERSION=0.0.1
OPENAI_CHAT_MODEL=gpt-3.5-turbo-1106
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_MILLION_SHOW_MODEL=gpt-4-1106-preview
LEARN_FRONT_END=http://localhost:3001 # external resources
LEARN_TOKEN="cHJvdG9uCg==" # Authorization CHANGE ME
LEARN_VOICE_ENABLED=true
LEARN_VOICE_ID=
ELEVENLABS_API_KEY=
MILLION_SHOW_VOICE_ID=
MILLION_SHOW_VOICE_ENABLED=true
MONGO_DSN="mongodb://root:default@127.0.0.1:27017"
AMQP_DSN=pyamqp://guest:guest@127.0.0.1:5672//
OPENAI_API_KEY=
MONGO_DB_NAME="learn"
#

MILVUS_HOST="127.0.0.1"
MILVUS_PORT=19530
MILVUS_DB_NAME=knowledge
MILVUS_COLLECTION_NAME=brain