DEBUG=true

# Openai
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-3.5-turbo-1106
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_MILLION_SHOW_MODEL=gpt-4-1106-preview

# API
LEARN_VERSION=0.0.1
LEARN_FRONT_END=http://localhost:3001 # external resources
LEARN_TOKEN="cHJvdG9uCg==" # Authorization CHANGE ME

# Voice API
ELEVENLABS_API_KEY=
LEARN_VOICE_ENABLED=true
LEARN_VOICE_ID=
MILLION_SHOW_VOICE_ID=
MILLION_SHOW_VOICE_ENABLED=true

# Mongo
MONGO_INITDB_ROOT_PASSWORD=default
