fastapi~=0.109.0
celery==5.3.6
pydantic==2.5.3
python-dotenv==1.0.0
pymilvus==2.3.5
langchain==0.1.0
langchain-openai==0.0.2.post1
loguru~=0.7.2
tiktoken==0.5.2
asyncio==3.4.3
aiohttp~=3.9.1
aiofiles~=23.2.1
uvicorn
requests~=2.31.0
ujson~=5.9.0
pydub~=0.25.1
motor~=3.3.2
pymongo~=4.6.1